body {
    font-size: 12pt;
    font-family: "Comic Sans MS", 'Marker Felt', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    /*background-color: violet;*/
    background-color: lightgrey;
    margin-left: 50px;
    margin-right: 50px;
    }
h1 {
    font-size: 250%;
    color: maroon;
    font-weight: bold;
    margin-top: 0.7em;
    margin-bottom: 1.1em;
   }
h2 {
    font-size: 150%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1.1em;
   }
td {
    vertical-align: text-top;
   }
td.right {
    text-align: right;
    }
img {
    float: right;
    width: 500px;
    box-shadow: 10px 10px 8px grey;
    border: 1px solid grey;
    margin: 0px 0px 20px 20px
    }
a:link {
    color: blue;
    text-decoration: none;
    }
a:visited {
    color: green;
    text-decoration: none;
    }
a:hover {
    color: red;
    text-decoration: none;
    }
a:active {
    color: hotpink;
    text-decoration: none;
    }
p.copyright {
    float: left;
    font-size:70%
    }
